    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3; /* Higher z-index to ensure video container is above other sections */
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 4; /* Highest z-index to keep the video above all other elements */
}

/* Overlay Styling */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 5; /* Overlay slightly higher than the video container */
}
